.header{
	text-align: center
}

.stacker1{
	border:#3F7FBF 3px solid;
	width: 300px;
	height:120px;
	margin-left: 16.666666%;
	margin-right: auto;
}
.stacker2{
	border:#3F7FBF 3px solid;
	width: 300px;
	height:120px;
	margin-left: 33.3333333%;
	margin-right: auto;
}.stacker3{
	border:#3F7FBF 3px solid;
	width: 300px;
	height:120px;
	margin-left: 49.999999%;

}


.mirror1{
	border:#3F7FBF 3px solid;
	width: 450px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: relative;
}

.mirror2{
	border:#3F7FBF 3px solid;
	width: 350px;
	height: 250px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mirror3{
	border:#3F7FBF 3px solid;
	width: 250px;
	height: 150px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.mirror4{
	border:#3F7FBF 3px solid;
	width: 150px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.skinny{
	border:#3F7FBF 3px solid;
	width: 800px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
.skinny2{
	border:#3F7FBF 3px solid;
	border-top: none;
	border-bottom: none;
	width: 400px;
	height:300px;
	margin-left: auto;
	margin-right: auto;
}

.absolute1, .absolute2, .absolute3, .absolute4, .absolute5, .absolute6{
border:#3F7FBF 3px solid;
}

.absolute2, .absolute3, .absolute4, .absolute5, .absolute6{
border:#3F7FBF 3px solid;
}

.absolute1{
	/*border:#3F7FBF 3px solid;*/
	width: 580px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: relative;
}

.absolute2{
	/*border:#3F7FBF 3px solid;*/
	width: 125px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: absolute;
	top: -3px;
	left: -3px;
}

.absolute3{
	/*border:#3F7FBF 3px solid;*/
	width: 125px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: absolute;
	top: -3px;
	right: -3px;
}

.absolute4{
	/*border:#3F7FBF 3px solid;*/
	width: 125px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.absolute5{
	/*border:#3F7FBF 3px solid;*/
	width: 125px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: absolute;
	bottom: -3px;
	left: -3px;
}

.absolute6{
	/*border:#3F7FBF 3px solid;*/
	width: 125px;
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	/*usually you put it position:relative on the container*/
	position: absolute;
	bottom: -3px;
	right: -3px;
}